<div class="corpo">

  <div class="visor">0</div>

  <div class="row linha linha1">
    <div class="botao-cinza">%</div>
    <div class="botao-cinza">√</div>
    <div class="botao-laranja">CE</div>
    <div class="botao-laranja">C</div>
  </div>

  <div class="row linha">
    <div class="botao-preto">7</div>
    <div class="botao-preto">8</div>
    <div class="botao-preto">9</div>
    <div class="botao-cinza">—</div>
  </div>

  <div class="row linha">
    <div class="botao-preto">4</div>
    <div class="botao-preto">5</div>
    <div class="botao-preto">6</div>
    <div class="botao-cinza">÷</div>
  </div>

  <div class="row linha">
    <div class="botao-preto">1</div>
    <div class="botao-preto">2</div>
    <div class="botao-preto">3</div>
    <div class="botao-cinza">X</div>
  </div>

  <div class="row linha">
    <div class="botao-preto">0</div>
    <div class="botao-preto">.</div>
    <div class="botao-cinza">=</div>
    <div class="botao-cinza">+</div>
  </div>

</div>
