<div class="corpo">

  <div class="visor">{{visor}}</div>

  <div class="row linha linha1">
    <div class="botao-cinza cursor" (click)="botaoPorcentagem()">%</div>
    <div class="botao-cinza cursor" (click)="botaoRaizQuadrada()">√</div>
    <div class="botao-laranja cursor" (click)="apagarVisor()">CE</div>
    <div class="botao-laranja cursor" (click)="apagarVisor()">C</div>
  </div>

  <div class="row linha">
    <div class="botao-preto cursor" (click)="digitarNumero(numeros[7])">{{numeros[7]}}</div>
    <div class="botao-preto cursor" (click)="digitarNumero(numeros[8])">{{numeros[8]}}</div>
    <div class="botao-preto cursor" (click)="digitarNumero(numeros[9])">{{numeros[9]}}</div>
    <div class="botao-cinza cursor" (click)="botaoSubtrair()">—</div>
  </div>

  <div class="row linha">
    <div class="botao-preto cursor" (click)="digitarNumero(numeros[4])">{{numeros[4]}}</div>
    <div class="botao-preto cursor" (click)="digitarNumero(numeros[5])">{{numeros[5]}}</div>
    <div class="botao-preto cursor" (click)="digitarNumero(numeros[6])">{{numeros[6]}}</div>
    <div class="botao-cinza cursor" (click)="botaoDividir()">÷</div>
  </div>

  <div class="row linha">
    <div class="botao-preto cursor" (click)="digitarNumero(numeros[1])">{{numeros[1]}}</div>
    <div class="botao-preto cursor" (click)="digitarNumero(numeros[2])">{{numeros[2]}}</div>
    <div class="botao-preto cursor" (click)="digitarNumero(numeros[3])">{{numeros[3]}}</div>
    <div class="botao-cinza cursor" (click)="botaoMultiplicar()">X</div>
  </div>

  <div class="row linha">
    <div class="botao-preto cursor" (click)="digitarNumero(numeros[0])">{{numeros[0]}}</div>
    <div class="botao-preto cursor">.</div>
    <div class="botao-cinza cursor" (click)="botaoIgual()">=</div>
    <div class="botao-cinza cursor" (click)="botaoSomar()">+</div>
  </div>

</div>
